body {
    background-color:#F4F2F2;
}
header {
    border-bottom: 0.5em #007CFF solid!important; 
    width: 80%;
}
h2, h3 {
    color: #44414E; 
    font-weight: 500; 
    letter-spacing: 0.07em;
}
h4 {
    color: #007CFF; 
    font-weight: 500;
    font-size: 1.8em; 
    letter-spacing: 0.1em
}
.banner {
    background-color: rgba(255, 255, 255, 0.61); 
    border-radius: 0.85em;
}
.text-under-banner {
    color: #44414E;
}
.a-know-more {
    border-radius: 1em; 
    background-color: #007CFF; 
    font-weight: 600; 
    font-size: 1.1em;
}
.img-banner {
    width: 60%;
}
a:hover .headerLink {
    color:#007CFF;
    transition: 2s;
        
}
a:active .headerLink {
    color:#007CFF!important;    
    transition: 2s;        
}
.headerLink {
    /*color: #4306F1;*/
    transition: 2s;
    color: #44414E;
    text-decoration: none!important;      
    font-size: 30px;      
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*
    animation-duration: 3s;
    animation-name: slideDown;
    animation-iteration-count: 1;
    */
}
.headBar {
    /*border-bottom: 0.5em #4306F1 solid!important; */
    border-bottom: 0.5em #44414E solid!important; 
    width: 80%;
}
.social-buttons {  
    color: #44414e;
    transition: 2s;
}
.social-buttons:hover {  
    color: #007CFF;
    transition: 1.5s;
}
.projects {
    background-color: #007CFF; 
    opacity: 0.8; 
    color:#FFF; 
    font-size: 1.1em; 
    font-weight: 600; 
    border-radius: 0.3em;
}
.projects:hover {
    background-color: #000; 
    opacity: 1; 
    transition: 1.5s;
    color:#FFF; 
    font-size: 1.2em; 
    font-weight: 600; 
    border-radius: 0.3em;
}
.p-projects {
    font-weight: 600; 
    letter-spacing: 0.1em;
}
.project-tips, .social-tips, .text-under-banner {
    transition: 2s;
    color: #44414e;
}
.project-tips:hover, .social-tips:hover, .text-under-banner:hover {
    transition: 3s;
    color: #007CFF;    
}
.text-blue {
    color: #007CFF;
}
#btnReturn {
    transition: 1.5s;
    visibility: hidden;
    position: fixed;
    top: 90%;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ccc;
    color:#44414e;    
    cursor: pointer;
    border-radius: 4px;
    border: none;
}
#btnReturn:hover {
    transition: 1.5s;
    background-color: #ccc;
    color: #0A5CAE;
}

@keyframes slideDown {
from {
    margin-top: -80px;
}
to {
    margin-top: -0px;
    }
}

.removeAnimation {
    animation: none!important;        
} 
.portfolioInitial, .homeInitial, .curriculoInitial {
    background-image: url(/HTML-CSS-Javascript/projeto_tela_login/img/seta.png);
    background-repeat: no-repeat;
    animation: none;
}

@keyframes portfolioInitialAnimation {
    from {
        margin-left: 0%;
    }
    to {
        margin-left: 24%;
    }
}
.portfolioInitial {
    animation-name: portfolioInitialAnimation;
    animation-duration: 2s;
    margin-left: 24%;
    margin-bottom: 0;
    margin-top: 0%;
}

@keyframes homeInitialAnimation {
    from {
        margin-left: 0%;
    }
    to {
        margin-left: 37.5%;
    }
}
.homeInitial {            
    animation-name: homeInitialAnimation;
    animation-duration: 2s;
    margin-left: 37.5%;
}

@keyframes curriculoInitialAnimation {
    from {
        margin-left: 0%;
    }
    to {
        margin-left: 52%;
    }
}
.curriculoInitial {            
    animation-name: curriculoInitialAnimation;
    animation-duration: 2s;
    margin-left: 52%;
}

/* Botão Dark/Light*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    }
    
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Extra small devices (portrait phones, less than 576px)*/
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    
    body {
        padding: 0;
        margin: 0;
    }

    main, section {
        visibility: hidden;
        height: 0;
    }
    header div.row.align-items-center.mt-5 {
        margin-top: 0 !important;
    }
    header {
        border-bottom: none !important;        
        visibility: visible !important;
        display: inline !important;
        text-decoration: none !important;   
    }  

    footer {        
        margin-top: -18vh !important;
    }
    #head-bar {
        border: none;
    }

    .project-tips {
        font-size: 3.3vw !important;
    }
}

@media (max-width: 575.98px) { 
    * {
        margin: 0;
        padding: 0;
    }

    body {
        overflow-x: hidden !important;
    }
    
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }

    #return-button, #btnReturn, .main-col-right {
        visibility: hidden !important;
    }    
    
    /*Theme Button Switch */
    .switch {
        width: 20px;
        height: 20px;
        color: #000 !important;
    }

    .slider {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0) !important; 
    }
    
    .slider:before {
        height: 29px;
        width: 20px;
        left: 0px;
        bottom: 12px;
        background-color: rgba(0, 0, 0, 0) !important;
        background-image: url("../img/icon/light-on.png");
    }

    input:checked + .slider {
        background-color: rgba(0, 0, 0, 0) !important;
    }
    
    input:focus + .slider {
        box-shadow: 0 rgba(0, 0, 0, 0) !important;
    }

    input:checked + .slider:before {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .portfolio, .home, .curriculo {
        display: flex !important;
        justify-content: center !important;        
    }

    #head-bar {
        height: 25vh !important;
    }
    
    .headerLink {
        font-size: 3vh;
    }

    .banner {
        height: 35vh;        
    }

    .main-col-left {
        margin-top: -6vh !important;
        display: flex!important;
        justify-content: center !important;
    }

    .project-tips {
        font-size: 2.5vh;
    }

    .p-projects {
        /*font-size: 2vw;*/
        margin-left: 9vw;
        margin-right: 9vw;
    }
    .about-me {
        color: #000;
        font-size: 2vh !important;
        margin: 0 !important;
        text-align: initial;
        padding-bottom: 2vh;
    }  
}

/* Small devices (landscape phones, less than 768px)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    #return-button, #btnReturn, .theme-btn, .main-col-right {
        visibility: hidden !important;
    }  
    .portfolio, .home, .curriculo {
        display: flex !important;
        justify-content: center !important;        
    }

    #head-bar {
        height: 20vh !important;
    }
    .banner {
        height: 40vh;
    }
    .project-tips {
        font-size: 3.2vh;
    }
    .p-projects {
        /*font-size: 2vw;*/
        margin-left: 9vw;
        margin-right: 9vw;
    }
}

/* Medium devices (tablets, less than 992px)*/
@media (min-width: 768px) and (max-width: 999.98px) { 

    .p-projects {
        /*font-size: 2vw;*/
        margin-left: 7vw;
        margin-right: 7vw;
    }
    /*Theme Button Switch */
    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 30px;
    }
    
    .slider:before {
        height: 20px;
        width: 16px;
        left: -10px;
        bottom: 4px;
    }
}

/* Large devices (desktops, less than 1200px)*/
@media (min-width: 1000px) and (max-width: 1199px) { 
    .project-tips {
        font-size: 3.5vh;
    }
    .p-projects {
        /*font-size: 2vw;*/
        margin-left: 5vw;
        margin-right: 5vw;        
    }
    .projects {
        width: 15vw;
    }

    /*Theme Button Switch */
    .switch {
        width: 60px;
        height: 34px;
    }

    .slider:before {
        height: 26px;
        width: 26px;
        left: 0px;
        bottom: 4px;
    }
}